<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Coderace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
  <link href="/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--begin::Layout Themes(used by all pages)-->
  <link rel="stylesheet" type="text/css" href="/css/signin.css" />
  <!--end::Layout Themes-->
</head>
<!--begin::Body-->

<body id="kt_body" style="background-image: url(/media/bg/bg-10.jpg)" class="
      quick-panel-right
      demo-panel-right
      offcanvas-right
      header-fixed
      subheader-enabled
      page-loading
    ">
  <!--begin::Main-->
  <%- body %>
    <!--end::Main-->
    <!--begin::Script-->
    <%- script %>
      <!--end::Script-->
</body>
<!--end::Body-->

</html>