<!DOCTYPE html>
<html>

<head>

    <title>Đóng Góp | CodeRace</title>
    <% include partials/head %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link rel="stylesheet" type="text/css" href="/css/contribution.css">
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link href='/css/fonts-sofia.css' rel='stylesheet'>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <div class="main-wrapper main">
        <div class="heading">
            <p class="H1">Bạn muốn đóng góp cho trang?</p>
            <p class="H3">Chúng tôi luôn luôn chào đón bạn!</p>
            <hr>
        </div>
        
        
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>