<!--begin::Main-->
<% include ../partials/header-mobile %>
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
      <% include ../partials/header %>
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
          <!--begin::Container-->
          <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row">
              <div class="col-lg-6 col-xxl-4">
                <!--begin::Mixed Widget 4-->
                <div class="card card-custom bg-radial-gradient-danger gutter-b card-stretch">
                  <!--begin::Body-->
                  <div class="card-body d-flex flex-column p-0">
                    <!--begin::Chart-->
                    <div id="kt_mixed_widget_6_chart" style="height: 200px"></div>
                    <!--end::Chart-->
                    <!--begin::Stats-->
                    <div class="card-spacer bg-white card-rounded flex-grow-1">
                      <!--begin::Row-->
                      <h1>CODE RACE</h1>
                      <br />
                      <p class="desc-text" style="font-size: 18">
                        Hãy luyện tập mỗi ngày cùng với DP2T<br />
                        Hãy cho thế giới thấy rằng đầu bạn đầy code.<br /><br />
                        CodeRace là nền tảng tương tác trực tuyến hỗ trợ người dùng học tập, thực hành, thi đấu và đánh
                        giá kỹ năng lập trình một cách nhanh chóng và chính xác.
                      </p>
                      <!--end::Row-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Body-->
                </div>
                <!--end::Mixed Widget 4-->
              </div>
              <div class="col-lg-6 col-xxl-8">
                <!--begin::Advance Table Widget 1-->
                <div class="card card-custom card-stretch gutter-b">
                  <!--begin::Header-->
                  <div class="card-header border-0 py-5">
                    <h3 class="card-title align-items-start flex-column">
                      <span class="card-label font-weight-bolder text-dark"
                        >KHƠI DẬY ĐAM MÊ LẬP TRÌNH!
                        <p>
                          Đăng ký tài khoản &<br />
                          Tham gia cùng chúng tôi để chứng tỏ bản thân ngay hôm nay!
                        </p>
                      </span>
                      <span class="text-muted mt-3 font-weight-bold font-size-sm"><p></p></span>
                    </h3>
                    <div class="card-toolbar">
                      <a href="/ide" class="btn btn-success font-weight-bolder font-size-sm">
                        <span class="svg-icon svg-icon-md svg-icon-white">
                          <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            version="1.1"
                          >
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <polygon points="0 0 24 0 24 24 0 24" />
                              <path
                                d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                fill="#000000"
                                fill-rule="nonzero"
                                opacity="0.3"
                              />
                              <path
                                d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                fill="#000000"
                                fill-rule="nonzero"
                              />
                            </g>
                          </svg>
                          <!--end::Svg Icon--> </span
                        >Bắt đầu</a
                      >
                    </div>
                  </div>
                  <!--end::Header-->
                  <!--begin::Body-->
                  <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                      <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                        <thead>
                          <tr class="text-left">
                            <th class="pr-0" style="width: 50px">Tác giả</th>
                            <th style="min-width: 200px"></th>
                            <th style="min-width: 200px">Kĩ năng</th>
                            <th style="min-width: 200px">Đóng góp</th>
                            <th class="pr-0 text-right" style="min-width: 100px"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="pr-0">
                              <div class="symbol symbol-50 symbol-light mt-1">
                                <span class="symbol-label">
                                  <img src="/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="" />
                                </span>
                              </div>
                            </td>
                            <td class="pl-0">
                              <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"
                                >Lê Hải Đăng</a
                              >
                            </td>
                            <td>
                              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"
                                >Html,Css,NodeJs,UI/UX Design</span
                              >
                            </td>
                            <td>
                              <div class="d-flex flex-column w-100 mr-2">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                  <span class="text-muted mr-2 font-size-sm font-weight-bold">25%</span>
                                </div>
                                <div class="progress progress-xs w-100">
                                  <div
                                    class="progress-bar bg-danger"
                                    role="progressbar"
                                    style="width: 25%"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="pr-0">
                              <div class="symbol symbol-50 symbol-light mt-1">
                                <span class="symbol-label">
                                  <img src="/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="" />
                                </span>
                              </div>
                            </td>
                            <td class="pl-0">
                              <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"
                                >Phạm Minh Tuấn</a
                              >
                            </td>
                            <td>
                              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"
                                >Html,Css,NodeJs,UI/UX Design</span
                              >
                            </td>
                            <td>
                              <div class="d-flex flex-column w-100 mr-2">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                  <span class="text-muted mr-2 font-size-sm font-weight-bold">25%</span>
                                </div>
                                <div class="progress progress-xs w-100">
                                  <div
                                    class="progress-bar bg-success"
                                    role="progressbar"
                                    style="width: 25%"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="pr-0">
                              <div class="symbol symbol-50 symbol-light mt-1">
                                <span class="symbol-label">
                                  <img src="/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="" />
                                </span>
                              </div>
                            </td>
                            <td class="pl-0">
                              <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"
                                >Trần Mai Trường Phúc</a
                              >
                            </td>
                            <td>
                              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"
                                >Html,Css,UI/UX Design</span
                              >
                            </td>
                            <td>
                              <div class="d-flex flex-column w-100 mr-2">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                  <span class="text-muted mr-2 font-size-sm font-weight-bold">25%</span>
                                </div>
                                <div class="progress progress-xs w-100">
                                  <div
                                    class="progress-bar bg-danger"
                                    role="progressbar"
                                    style="width: 25%"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="pr-0">
                              <div class="symbol symbol-50 symbol-light mt-1">
                                <span class="symbol-label">
                                  <img src="/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="" />
                                </span>
                              </div>
                            </td>
                            <td class="pl-0">
                              <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"
                                >Nguyễn Thịnh Tiến</a
                              >
                            </td>
                            <td>
                              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"
                                >Html,Css,UI/UX Design</span
                              >
                            </td>
                            <td>
                              <div class="d-flex flex-column w-100 mr-2">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                  <span class="text-muted mr-2 font-size-sm font-weight-bold">25%</span>
                                </div>
                                <div class="progress progress-xs w-100">
                                  <div
                                    class="progress-bar bg-success"
                                    role="progressbar"
                                    style="width: 25%"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--end::Table-->
                  </div>
                  <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 1-->
              </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Entry-->
      </div>
      <!--end::Content-->
      <% include ../partials/footer %>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Main-->
<script>
  var KTAppSettings = {
    breakpoints: {
      sm: 576,
      md: 768,
      lg: 992,
      xl: 1200,
      xxl: 1200,
    },
    colors: {
      theme: {
        base: {
          white: "#ffffff",
          primary: "#6993FF",
          secondary: "#E5EAEE",
          success: "#1BC5BD",
          info: "#8950FC",
          warning: "#FFA800",
          danger: "#F64E60",
          light: "#F3F6F9",
          dark: "#212121",
        },
        light: {
          white: "#ffffff",
          primary: "#E1E9FF",
          secondary: "#ECF0F3",
          success: "#C9F7F5",
          info: "#EEE5FF",
          warning: "#FFF4DE",
          danger: "#FFE2E5",
          light: "#F3F6F9",
          dark: "#D6D6E0",
        },
        inverse: {
          white: "#ffffff",
          primary: "#ffffff",
          secondary: "#212121",
          success: "#ffffff",
          info: "#ffffff",
          warning: "#ffffff",
          danger: "#ffffff",
          light: "#464E5F",
          dark: "#ffffff",
        },
      },
      gray: {
        "gray-100": "#F3F6F9",
        "gray-200": "#ECF0F3",
        "gray-300": "#E5EAEE",
        "gray-400": "#D6D6E0",
        "gray-500": "#B5B5C3",
        "gray-600": "#80808F",
        "gray-700": "#464E5F",
        "gray-800": "#1B283F",
        "gray-900": "#212121",
      },
    },
    "font-family": "Poppins",
  };
</script>
<script src="js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="plugins/global/plugins.bundle.js"></script>
<script src="plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="js/scripts.bundle.js"></script>
<script src="js/pages/widgets.js"></script>
<script src="js/modals_change.js"></script>
